{% macro render_modal(value, size) %}
  <!-- Modal -->
  <div class="modal fade" id="textModal-{{value.id}}" tabindex="-1" aria-labelledby="DisplayImage">
    <div class="modal-dialog modal-dialog-centered {{ size }}" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img src="{{ url_for('static',filename=value.name) }}" width=20% >&nbsp;
          <h5 class="modal-title" id="itemLabel">{{ value.header }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
          {% if value.description is defined and value.description %}
            <p>{{ value.description|safe }}</p>
          {% endif %}
          <p>{{ value.details|safe }}</p>
        </div>
        {% if value.location is defined or value.time is defined or value.credit is defined %}
          <div class="modal-footer">
            {% if value.credit is defined and value.credit %}
                <span class="float-left"><b>Credit:</b> {{ value.credit }}</span>
            {% endif %}
            {% if value.location is defined and value.location %}
                <span class="ms-auto"><b>Location:</b> {{ value.location }}</span>
            {% endif %}
            {% if value.time is defined and value.time %}
                <span><b>Time:</b> {{ value.time }}</span>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- End Modal -->
{% endmacro %}
{% macro render_caption(value, size) %}
  <!-- Caption -->
  <div class="row my-4">
    {% if value.title is defined %}
      {% if not theme or theme == None %} 
        <div class="display-3 fw-bold text-center">{{ value.title|safe }}</div>
      {% else %}
        <div class="h1 fw-bold text-center">{{ value.title|safe }}</div>
      {% endif %}
    {% endif %}
  </div>
  <div class="row">
    {% if value.location is defined %}
      <div class="h3 text-center">{% if value.location %}{{ value.location }}{% else %}<br>{% endif %}</div>
    {% endif %}
  </div>
  <div class="row">
    {% if value.byline is defined and value.byline %}
     <div class="text-center"><small>{{ value.byline }}</small></div>
    {% endif %}
  </div>
  <div class="row mt-4">
    {% if value.camera is defined and value.camera %}
      <div class="my-0 h4 text-center">{{ value.camera }}</div>
    {% endif %}
  </div>
  <div class="row">
   {% if value.settings is defined and value.settings %}
      <div class="my-0 h4 text-center">{{ value.settings }}</div>
    {% endif %}
  </div>
  <!-- End Caption -->
{% endmacro %}
